<a href="https://colab.research.google.com/github/irvansikajudin/Data-Science/blob/main/MISSING_VALUES_TRAP_ON_DATASET.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **MISSING VALUES TRAP ON DATASET**

cara yang paling simple untuk menumukan missing values dengan cara 

```
# .isnull().sum()
```
tapi hal tersebut terkadan membuat kita tidak dapat menemukan nilai yang hilang secara komprehensif, untuk menangani hal tersebut dapat menggunakan code sebagai berikut : 

```
missing_values = ['n/a', 'na', 'nan', '-', '--', 'null', ' ']
medv.isnull().sum()
```
penjelasan :
['n/a', 'na', 'nan', '-', '--', 'null', ' '] adalah missing values, namun kita juga dapat menambahkan values tertentu kembali.

kita mendefinisikan nilai-nilai tertentu sebagai missing values:


```
# missing_values = ['n/a', 'na', 'nan', '-', '--', 'null', ' ']
```
kemusian baru menjalankan perintah 

```
# .isnull().sum()
```